@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{font-family: 'Roboto', sans-serif; font-size: 1em}
.line-height-1-5{line-height: 1.5em;}
.box-title{ font-size: 1.2em; }

.bg-primary{ background: #282a64 !important;}
.bg-1{background: #f17320 !important;}
.border-1{ border:solid 1px #f17320;}

.text-1{color: #f17320;}

.btn-1{background: #f17320 !important; border:none; box-shadow: 0px 1px 2px #000; color:#fff; font-weight: lighter; }
.btn-1:hover{background: #b5510f !important; color:#fff;}
a.btn-1{ color:#fff !important;}
a{ color:#f17320; }

.a-link{font-size: 1.5em; color: #fff; text-decoration: underline; font-weight: lighter;}

.w-60{ width: 60%;}

.box-sgt{ background: #5659a7;}
.box-sgt p{ font-weight: lighter;}

.quick-links a { font-size: .9em; color: #000;}

#second_banner .item {height: 400px; background-repeat: no-repeat; background-position: top center; background-size:cover; position: relative;}
#second_banner .owl-nav{ top: 100px; position: absolute; width: 100%; }
#second_banner .owl-prev { font-size: 6em; color: #fff; position:absolute; left:0;}
#second_banner .owl-next{  font-size: 6em; color: #fff;  right:0 !important; position:absolute;}

#main_banner .item {height: 340px; background-repeat: no-repeat; background-position: top center; background-size:cover;}

#main_banner .owl-dots{ position: absolute;width: 100%; bottom: 20px;}
.sub-banner{ height: 300px;}
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #282a64;
	border-bottom:solid 2px #282a64;
	
}
.head-text{ font-size: .8em;}
.grecaptcha-badge{ visibility: hidden;}

.navbar-nav li{ margin: 0 5px;}
.dark.cc_dialog{position: fixed !important; width: 100% !important; background: rgba(40, 42, 100, 0.8) !important;}
.cc_dialog.simple{max-width: 100% !important;}
.cc_dialog{ padding: 1em !important;}

@media (max-width: 575px) {
	.head-text{ font-size: .7em;}
	.box-title{ font-size: .8em;}
	#main_banner .w-60, .sub-banner .w-60{width: 100%; }
	#main_banner h1, .sub-banner h1{ font-size: 1.4em;}
	#main_banner .owl-dots{bottom: 10px;}
	
	.second_caption{width:100% !important;}
	.second_caption h3{font-size: 1.2em;}
	.second_caption h1{font-size: 1.8em;}
	.contact .p-5{padding: 10px !important;}
}

@media (min-width: 576px) and (max-width: 767px) {  }
